<c-content [header]="HEADER" [breadcrumb]="BREADCRUMB">
	<div class="row">
		<div class="col-md-6">
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">defaul</h6>
				</div>
				<div class="card-body">
					<div class="mb-2">
						<p>A black page template with a minimal dependency assets to use as a base for any custom page you create</p>
					</div>
				</div>
			</div>
		</div><!-- col-md-6 -->
	</div>
</c-content>