<ng-template #modalalert>
	<div class="card {{border}}" >
		<div class="modal-header ">
			<h4 class="modal-title pull-left">
					<i class="fa {{colorIcon}} {{addIcon}}" *ngIf="addIcon" ></i>
					&nbsp;
					<small>{{addHeader}}</small>
			</h4>
		</div>
		<div class="modal-body" *ngIf="addBody">
			{{addBody}}
		</div>
		<ng-content></ng-content>
	</div>
</ng-template>