<c-content [header]="HEADER" [isBreadcrumb]="false">
	<hr class="pink"/>
	<div class="row mt-3">
		<div class="col-md-4">
			<input type="text" placeholder="ค้นหา" class="form-control form-control-sm" />
		</div><!-- col-md-4 -->
		<div class="col-md-4">
			<c-button typeButton="search"></c-button>
		</div>
		
	</div>
	<div class="row mt-3" >
		<div class="col-md-12">
			<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
				class="table table-bordered table-striped table-sm ">
				<thead *ngIf="tableHeader">
					<tr class="table-danger">
						<th *ngFor="let item of tableHeader" class="{{item.class}}">
							{{item.text}}
						</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let item of valueList; let i = index"  [attr.data-index]="i">
						<td>{{i+1}}</td>
						<td>{{item.column1}}</td>
						<td>{{item.column2}}</td>
						<td>{{item.column3}}</td>
					</tr>
					<tr *ngIf="valueList.length == 0">
						<td colspan="2" class="text-center"> ไม่มีข้อมูล</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</c-content>