html {
    scroll-behavior: smooth;
}
a:active
, a:focus
, input:active 
, input:focus
, button:active
, button:focus  {
    outline: 0;
}
.bg-danger{
    background-color:  #f0027f !important;
}
.navbar{
    padding: 0px;
}
.navbar-brand{
    padding-top: 0px;
}

.form-control-xs {
    height: calc(1em + .375rem + 2px) !important;
    padding: .125rem .25rem !important;
    font-size: .75rem !important;
    line-height: 1.5;
    border-radius: .2rem;
}
.sidebar-background {
    /* position: absolute; */
    z-index: 1;
    /* height: 100%; */
    /* width: 100%; */
    display: block;
    /* top: 0; */
    /* left: 0; */
    background-size: cover;
    background-position: 50%;
    -webkit-transition: all .25s ease-out 0s;
    transition: all .25s ease-out 0s;
    
}
.sidebar-background::before {
    position: absolute; 
    opacity: .33;
    background: #000;
}
.border-left-white {
    border-left: .1px solid #ffffff!important;
}
.border-left-primary {
    border-left: .25rem solid #337ab7!important;
}
.border-right-primary {
    border-right: .25rem solid #337ab7!important;
}
.border-top-primary {
    border-top: .25rem solid #337ab7!important;
}
.border-bottom-primary {
    border-bottom: .25rem solid #337ab7!important;
}

.border-left-success {
    border-left: .25rem solid #36c6d3!important;
}
.border-right-success {
    border-right: .25rem solid #36c6d3!important;
}
.border-top-success {
    border-top: .25rem solid #36c6d3!important;
}
.border-bottom-success {
    border-bottom: .25rem solid #36c6d3!important;
}

.border-left-info {
    border-left: .25rem solid #659be0!important;
}
.border-right-info {
    border-right: .25rem solid #659be0!important;
}
.border-top-info {
    border-top: .25rem solid #659be0!important;
}
.border-bottom-info {
    border-bottom: .25rem solid #659be0!important;
}

.border-left-warning {
    border-left: .25rem solid #F1C40F!important;
}
.border-right-warning {
    border-right: .25rem solid #F1C40F!important;
}
.border-top-warning {
    border-top: .25rem solid #F1C40F!important;
}
.border-bottom-warning {
    border-bottom: .25rem solid #F1C40F!important;
}

.border-left-danger {
    border-left: .25rem solid #ed6b75!important;
}
.border-right-danger {
    border-right: .25rem solid #ed6b75!important;
}
.border-top-danger {
    border-top: .25rem solid #ed6b75!important;
}
.border-bottom-danger {
    border-bottom: .25rem solid #ed6b75!important;
}
.toast-warning{
    background-color: #e6b539;
}
.toast-success{
    background-color: #2fac86;
}
.toast-danger{
    background-color: #ed6b75;
}
.dropdown-menu .show{
	transition: visibility 0s linear 0.33s, opacity 0.33s linear;
}
.bg-main{
	background: #fefefe;
}
.bg-white .nav-item .nav-link
, .bg-light .nav-item .nav-link {
	color: rgba(0, 0, 0, 0.5);
}
.bg-white .nav-item .nav-link:hover
, .bg-white .nav-item .nav-link:active 
, .bg-white .nav-item .nav-link:focus
, .bg-light .nav-item .nav-link:hover
, .bg-light .nav-item .nav-link:active 
, .bg-light .nav-item .nav-link:focus  {
	color: rgba(0, 0, 0);
}
.bg-white .navbar-brand
, .bg-light .navbar-brand {
    color: rgba(0, 0, 0);
}
.bg-white .dropdown-item.active, .bg-light .dropdown-item:active {
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
    /* background-color: #337ab7; */
  }
.btn-circle.btn-xl {
	width: 70px;
	height: 70px;
	padding: 10px 16px;
	border-radius: 35px;
	font-size: 24px;
	line-height: 1.33;
}
.btn-circle {
	width: 30px;
	height: 30px;
	padding: 6px 0px;
	border-radius: 15px;
	text-align: center;
	font-size: 12px;
	line-height: 1.42857;
}
.btn-green {
	color: #fff;
	background-color: #33b78f;
	border-color: #2fac86;
}

.btn-green:hover {
	color: #fff;
	background-color: #2fac86;
	border-color: #2fac86;
}
.text-green{
    color: #33b78f !important;
}
a.text-green{
    color: #33b78f !important;
}
a.text-green:focus
, a.text-green:hover
, a.text-green:active{
    color: #2fac86 !important;
}

hr.pink {
    border-top: 1px solid #f0027f;
  }