<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-striped table-sm " >
	<thead *ngIf="header">
		<tr >
			<td *ngFor="let item of header" class=" {{item.class}}" >{{item.text}}</td>
		</tr>
	</thead>
	<tbody>
		<tr>

		</tr>
	</tbody>
</table>