<div style="background: #f5c6cb;" >
  <div class="container text-right">
    <i class="fa fa-globe fa-fw"></i> : 
    <a href="#" class="pl-2"><img src="../../../assets/img/thai.png" height="20px" ></a>
    <a href="#" class="pl-2"><img src="../../../assets/img/eng.png" height="20px" ></a>
  </div>
  
</div>
<nav class="navbar navbar-expand navbar-dark {{BASE_THEME}} static-top shadow pl-3 pr-3">

  <a class="navbar-brand mr-1 text-dark" routerLink="/home"><img src="../../../assets/img/nok2545_pic.gif" height="70px" /></a>

  <!-- Navbar -->
  <ul class="navbar-nav ml-auto mr-0  my-2 my-md-0" >
    <li class="nav-item dropdown no-arrow">
      <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-user  "></i> ผู้ใช้งาน: {{user.fullName}}
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
        <a class="dropdown-item" href="#"> <i class="fa fa-user"></i> ข้อมูลส่วนตัว</a>
        <!-- <a class="dropdown-item" href="#"> <i class="fa fa-history"></i> Activity Log</a> -->
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" routerLink="/login" > <i class="fa fa-sign-out text-danger"></i> ออกจากระบบ</a>
      </div>
    </li>
  </ul>
  
</nav>
<div class="{{MENU_THEME}}" >
  <div class="container pt-3 pb-3">
    <nav class="navbar navbar-expand-lg navbar-dark ">
      <button class="navbar-toggler text-white" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item ">
            <a class="nav-link" routerLink="/home"><i class="fa fa-home fa-fw"></i> Home</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" routerLink="/productSetup"><i class="fa fa-cogs fa-fw"></i> Product Setup</a>
          </li>
          <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle" href="#" id="navbarMasterSetup" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-cogs fa-fw"></i>Master Setup
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarMasterSetup">
              <a class="dropdown-item" routerLink="/master/chanelMaster">Channel Master</a>
              <a class="dropdown-item" routerLink="/master/dataCollectorMaster">Data Collector Master</a>
            </div>
          </li>
          <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle" href="#" id="navbarMappingSetup" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-cogs fa-fw"></i> Mapping Setup
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarMappingSetup">
              <a class="dropdown-item" routerLink="/ruleCollectorMapping">Rule & Collector Mapping</a>
              <a class="dropdown-item" routerLink="/ruleChanelMapping">Rule & Channel Mapping</a>
              <a class="dropdown-item" routerLink="/messageMapping">Message Mapping</a>
            </div>
          </li>
          <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle" href="#" id="navbarRuleSetup" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-cogs fa-fw"></i>Rule Setup
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarRuleSetup">
              <a class="dropdown-item" href="#">Rule 1</a>
              <a class="dropdown-item" href="#">Rule 2</a>
              <a class="dropdown-item" href="#">Rule 3</a>
              <a class="dropdown-item" href="#">Rule 4</a>
              <a class="dropdown-item" href="#">Rule 5</a>
              <a class="dropdown-item" href="#">Rule 6</a>
              <a class="dropdown-item" href="#">Rule 7</a>
              <a class="dropdown-item" href="#">Rule 9</a>
              <a class="dropdown-item" href="#">Rule 10</a>
              <a class="dropdown-item" href="#">Rule 11</a>
              <a class="dropdown-item" href="#">Rule 12</a>
              <a class="dropdown-item" href="#">Rule 13</a>
              <a class="dropdown-item" href="#">Rule 14</a>
            </div>
          </li>
          <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle" href="#" id="navbarReport" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-print fa-fw"></i> Report
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarReport">
              <a class="dropdown-item" routerLink="/auditReport">Audit Report</a>
              <a class="dropdown-item" routerLink="/chenelReport">Channel Flow Report</a>
            </div>
          </li>
          <li class="nav-item ">
            <a class="nav-link" routerLink="/userManagement"><i class="fa fa-user-plus fa-fw"></i> User Management</a>
          </li>
          
        </ul>
      </div>
    </nav>
  </div>
</div  >
<div id="wrapper">
  <div id="content-wrapper">
    
    <div class="container" (click)="mainContentClick()">
      
      <router-outlet></router-outlet>
      <button class="scroll-to-top bg-info  text-white" (click)="scrollToTop()">
        <i class="fa fa-angle-up"></i>
      </button>
    </div>
    <!-- /.container-fluid -->

    <!-- Sticky Footer -->
    
  </div>
  <!-- /.content-wrapper -->

</div>