<div class="container">

	<!-- Outer Row -->
	<div class="row justify-content-center">

		<div class="col-lg-6 col-md-8 col-xs-10">

			<div class="card o-hidden border-0 shadow-lg my-5">
				<div class="card-body p-0 bg-login-image" >
					<!-- Nested Row within Card Body -->
					<div class="row">
						<!-- <div class="col-lg-6 d-none d-lg-block bg-login-image"></div> -->
						<div class="col-lg-12">
							<div class="p-5">
								<div class="text-center">
									<img src="../../../assets/img/mtl_logo.png">
									</div>
								<form class="user mt-3">
									<div class="form-group">
										<input type="text" [(ngModel)]="username" name="username" class="form-control form-control-user" aria-describedby="emailHelp" placeholder="Enter Username..." />
									</div>
									<div class="form-group">
										<input type="password" [(ngModel)]="password" name="password"  class="form-control form-control-user"  placeholder="Password" />
									</div>
									<!-- <div class="form-group">
										<div class="custom-control custom-checkbox small">
											<input type="checkbox" class="custom-control-input" id="customCheck">
											<label class="custom-control-label" for="customCheck">Remember Me</label>
										</div>
									</div> -->
									<a (click)="login()" class="btn btn-danger btn-user btn-block text-white">
										Login
									</a>
									<!-- <hr> -->
									<!-- <a  class="btn btn-google btn-user btn-block">
										<i class="fa fa-google fa-fw"></i> Login with Google
									</a>
									<a  class="btn btn-facebook btn-user btn-block">
										<i class="fa fa-facebook-f fa-fw"></i> Login with Facebook
									</a> -->
								</form>
								<hr>
								<div class="text-center">
									<a class="small" >Forgot Password?</a>
								</div>
								<div class="text-center">
									<a class="small" >Create an Account!</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
