<div class="row" *ngIf="header || isBreadcrumb">
	<div class="col">
		<div class="d-sm-flex align-items-center justify-content-between content-header>">
			<h5 class=" mb-0 text-gray-800">{{header}}</h5>
		</div>
		<ol class="breadcrumb bg-none" *ngIf="isBreadcrumb">
			<li class="breadcrumb-item">
				<a routerLink="/home" class="text-secondary"><small>Home</small></a>
			</li>
			<li class="breadcrumb-item" *ngFor="let item of breadcrumb ; let i = index" [ngClass]="{'active': (i+1) == breadcrumb.length}">
				<a routerLink="{{item.link}}" *ngIf="(i+1) != breadcrumb.length" class="text-secondary"><small>{{item.label}}</small></a>
				<small *ngIf="(i+1) == breadcrumb.length" class="{{MENU_ACTIVE}}">{{item.label}}</small>
			</li>
		</ol>
	</div>
</div>
<ng-content></ng-content>