<div class="card shadow mb-2">
	<div class="card-header py-3" *ngIf="addHeader">
		<h6 class="m-0 font-weight-bold text-primary">{{addHeader}}</h6>
	</div>
	<div class="card-body">
			<ng-content></ng-content>
	</div>
</div>
