<div class="form-group " [ngClass]="{'row': isRow}">
    <label *ngIf="addWording" [ngClass]="{'col-sm-2 col-form-label': isRow}">
        {{addWording}} <span class="text-danger" *ngIf="isRequired">*</span> :
    </label>
    <div [ngClass]="{'col-sm-10': isRow}">
        <ng-content></ng-content>
    </div>
</div>